:root {
  --dark-blue: #150f96;
  --light-blue: #01c1d6;
  --dark-light-blue: #00aac0;
  --green: #7acb00;
  --yellow: #ffb617;
  --yellow-neutral: #ffc107;
  --purple: #6e27c5;
  --pink: #ff0198;
  --red: #f1352b;
  --black: #4b4e52;
  --dark-gray: #afafaf;
  --gray: #d7d7d7;
  --dark-grey: #364a60;
  --white: #ffffff;
  --light-red: #fef5f4;
  --golden: #a67710;
  --light-white: #fafafa;
  --light-grey: #f7f7f7;
}
